GEMINI_API_KEY=AIzaSyB7PrDBtkFq-d0C6qP-jUd89UUprwr1hjs
GROQ_API_KEY=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
OLLAMA_BASE_URL=http://localhost:11434
PASSWORD_HASH=jarvis@feb2026
RECOVERY_PASSPHRASE=Jarvis I forgot my password
VOICE_PASSPHRASE=Jarvis online